/* 
  This stylesheet is a modified version of the Meyer Web CSS Reset.
  Source: http://meyerweb.com/eric/tools/css/reset/ 
  Version 2.0 | 20110126
  License: None (public domain)
*/

html,
body,
div,
main,
section,
h1,
h2,
h3,
h4,
p,
a,
button,
input {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 100%;
}

/* Ensure HTML5 semantic elements are rendered as block-level elements in browsers that do not support them natively. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

input {
    display: block
}